<div class="container my-5">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{characterSelected.image}}" class="card-img-top" alt="{{characterSelected.name}} image">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title mt-3 mb-4 fs-1">{{characterSelected.name}}</h5>
                <p class="card-text fs-3">Status: {{characterSelected.status}}</p>
                <p class="card-text fs-3">Species: {{characterSelected.species}}</p>
                <p class="card-text fs-3">Gender: {{characterSelected.gender}}</p>
                <p class="card-text fs-3">Origin: {{characterSelected.origin}}</p>
                <p class="card-text fs-3">Location: {{characterSelected.location}}</p>
            </div>
        </div>
    </div>
    </div>
</div>